/*
0-350px: small phone
350-600px : phone
600-900px: tablet portarit
900-1070px: mini desktop
1070-1200px: tablet landscape
1200-1520px: small-desktop
[1200-1800px]: main style 
1800px + : big desktop

$breakpoint argument choices
-phone-small
-phone
-tab-port
-mini-desktop
-tab-land
-small-desktop
-big-desktop
*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  90% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  90% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  90% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  90% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: ltr;
  overflow-x: hidden;
  cursor: default;
}

*:not(html) {
  overflow: hidden;
}

html {
  position: relative;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  min-height: 0vw;
}

html::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 90em) {
  html {
    font-size: calc(100vw * 0.011111111);
  }
}

@media only screen and (max-width: 47.5em) {
  html {
    font-size: 2.1111vw;
  }
}

body {
  /* set the box size in all elements to border-box thanks to *{} */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1920px;
  margin-inline: auto;
}

::-moz-selection {
  background-color: #34bbf7;
  color: #ffffff;
}

::selection {
  background-color: #34bbf7;
  color: #ffffff;
}

em {
  font-style: normal;
  color: #4285f5;
}

@font-face {
  font-family: 'adoveFnt22';
  src: url("https://amitashdot.github.io/targetCall-landing/fonts/ploni-regular-aaa.otf");
  font-display: swap;
}

body {
  font-family: 'adoveFnt22', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-size: 2.91rem;
  line-height: 3rem;
  letter-spacing: 0.03rem;
}

p strong {
  font-family: "adoveFnt22", sans-serif;
}

p {
  font-size: 1.15rem;
}

p a {
  color: #777;
  -webkit-text-decoration-color: #000;
          text-decoration-color: #000;
  text-decoration-thickness: 3px;
}

.blue-text {
  color: #4285f5;
}

.orange-text {
  color: #24b83f;
}

body:not(.tabbed) *:focus {
  outline: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.no-animation {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.no-animation::after, .no-animation::before {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-botton-small {
  -webkit-margin-after: 2rem !important;
          margin-block-end: 2rem !important;
}

.u-margin-botton-medium {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 47.5em) {
  .u-margin-botton-medium {
    -webkit-margin-after: 1.5rem !important;
            margin-block-end: 1.5rem !important;
  }
}

.u-margin-botton-big {
  -webkit-margin-after: 8rem !important;
          margin-block-end: 8rem !important;
}

@media only screen and (max-width: 47.5em) {
  .u-margin-botton-big {
    -webkit-margin-after: 5rem !important;
            margin-block-end: 5rem !important;
  }
}

.u-margin-top-medium {
  -webkit-margin-after: 6rem !important;
          margin-block-end: 6rem !important;
}

@media only screen and (max-width: 47.5em) {
  .u-margin-top-medium {
    -webkit-margin-after: 3rem !important;
            margin-block-end: 3rem !important;
  }
}

.u-margin-top-big {
  -webkit-margin-after: 8rem !important;
          margin-block-end: 8rem !important;
}

@media only screen and (max-width: 47.5em) {
  .u-margin-top-big {
    margin-bottom: 4rem !important;
  }
}

.u-margin-top-huge {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 47.5em) {
  .u-margin-top-huge {
    margin-bottom: 4rem !important;
  }
}

.u-hidden {
  display: none !important;
}

.u-desktop {
  display: block;
}

.u-mobile {
  display: none;
}

.taskOne {
  position: relative;
  -webkit-margin-before: 5rem;
          margin-block-start: 5rem;
  -webkit-margin-after: 5rem;
          margin-block-end: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-padding-start: 5rem;
          padding-inline-start: 5rem;
  -webkit-padding-end: 5rem;
          padding-inline-end: 5rem;
  min-height: 50vh;
}

.taskOne .loading-screen {
  min-height: 50vh;
}

@media only screen and (max-width: 47.5em) {
  .taskOne {
    -webkit-padding-start: 2rem;
            padding-inline-start: 2rem;
    -webkit-padding-end: 2rem;
            padding-inline-end: 2rem;
  }
}

.taskOne table {
  text-align: left;
}

.taskOne table th {
  padding: 1rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 47.5em) {
  .taskOne table th {
    padding: 2rem;
    width: 100%;
  }
}

.taskOne table tr {
  border: 1px solid;
}

.taskOne table td {
  padding: 1rem 2rem;
}

.taskTwo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-padding-start: 5rem;
          padding-inline-start: 5rem;
  -webkit-padding-end: 5rem;
          padding-inline-end: 5rem;
  -webkit-margin-after: 4rem;
          margin-block-end: 4rem;
  min-height: 40vh;
}

@media only screen and (max-width: 47.5em) {
  .taskTwo {
    -webkit-padding-start: 2rem;
            padding-inline-start: 2rem;
    -webkit-padding-end: 2rem;
            padding-inline-end: 2rem;
  }
}

.taskTwo .graph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50rem;
  width: 100%;
  background: cadetblue;
  padding: 5rem 3rem 1rem 3rem;
  text-align: center;
}

@media only screen and (max-width: 47.5em) {
  .taskTwo .graph-container {
    height: 30rem;
    padding: 2rem 1rem 1rem 1rem;
  }
}

.taskTwo .graph-candle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 47.5em) {
  .taskTwo .graph-candle {
    width: 15%;
  }
}

.taskTwo .graph-candle-number {
  height: 5%;
  line-height: 1.5rem;
  font-size: 1.4rem;
}

.taskTwo .graph-candle-middle {
  background: antiquewhite;
}

.taskTwo .graph-candle-text {
  height: 5%;
  line-height: 1.5rem;
  font-size: 1.4rem;
  padding: 0.5rem;
}

@media only screen and (max-width: 47.5em) {
  .taskTwo .graph-candle-text {
    height: auto;
  }
}

.taskTwo button {
  padding: 1rem;
  width: 30rem;
  background: transparent;
  border-radius: 10rem;
}

@media only screen and (max-width: 47.5em) {
  .taskTwo button {
    width: 100%;
  }
}

.taskTwo button:hover .lightsaber-light {
  position: relative;
  border: 1px solid;
  width: 78%;
  height: 1.5rem;
  max-width: 495px;
  -webkit-filter: drop-shadow(0px 0px 43px #fefeff);
          filter: drop-shadow(0px 0px 43px #fefeff);
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #b7b6f9;
}

@media only screen and (max-width: 47.5em) {
  .taskTwo button:hover .lightsaber-light {
    height: 2.5rem;
  }
}

.taskTwo button:hover .lightsaber-light:after {
  content: 'click to toggle';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5rem;
  background-color: #b7b6f9;
  border-radius: 0 1.5rem 1.5rem 0;
  z-index: 2;
  -webkit-animation: moveInLeft 3s ease-in-out forwards;
          animation: moveInLeft 3s ease-in-out forwards;
}

.taskTwo button .lightsaber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.taskTwo button .lightsaber-handle {
  width: 22%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.taskTwo button .lightsaber-handle > img {
  width: 100%;
}

.taskTwo button .lightsaber-light {
  position: relative;
  border: 1px solid;
  width: 78%;
  height: 1.5rem;
  max-width: 495px;
  -webkit-filter: drop-shadow(0px 0px 43px #fefeff);
          filter: drop-shadow(0px 0px 43px #fefeff);
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #b7b6f9;
}

@media only screen and (max-width: 47.5em) {
  .taskTwo button .lightsaber-light {
    height: 2.5rem;
  }
}

.taskTwo button .lightsaber-light:after {
  content: 'click to toggle';
  position: absolute;
  left: 0;
  width: 0%;
  background-color: #b7b6f9;
  border-radius: 0 1.5rem 1.5rem 0;
  z-index: 2;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  direction: rtl;
}

.loading-screen .lightsaber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10rem;
  height: 100%;
}

.loading-screen .lightsaber-handle {
  width: 22%;
  max-width: 150px;
  height: 20rem;
  background: url("../images/Lightsaber.png");
  background-repeat: no-repeat;
  background-position: 10% center;
  background-size: contain;
  z-index: 5;
}

.loading-screen .lightsaber-light {
  border: 1px solid;
  width: 78%;
  height: 1.5rem;
  max-width: 495px;
  -webkit-filter: drop-shadow(0px 0px 43px #fefeff);
          filter: drop-shadow(0px 0px 43px #fefeff);
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #b7b6f9;
}

.loading-screen .lightsaber-light::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  height: 1.5rem;
  background-color: #b7b6f9;
  border-radius: 0 1.5rem 1.5rem 0;
  z-index: 2;
  -webkit-animation: moveInLeft 3s ease-in-out forwards;
          animation: moveInLeft 3s ease-in-out forwards;
}

.loading-screen.finish {
  -webkit-animation: fadeOut 1s linear forwards;
          animation: fadeOut 1s linear forwards;
}
/*# sourceMappingURL=index.css.map */