.taskOne {
    position: relative;
    margin-block-start: 5rem;
    margin-block-end: 5rem;
    display: flex;
    flex-direction: column;
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
    min-height: 40vh;


    @include respond(tab-port) {
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
    }

    table {
        text-align: left;

        th {
            padding: 2rem;

            @include respond(tab-port) {
                padding: 2rem;
                width: 100%;
            }

        }

        // tr:nth-child(2) {
        //     text-align: right;
        // }

        td {
            padding: 1rem 2rem;
        }
    }
}