.taskOne {
    position: relative;
    margin-block-start: 5rem;
    margin-block-end: 5rem;
    display: flex;
    flex-direction: column;
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
    min-height: 50vh;

    .loading-screen {
        min-height: 50vh;
        z-index: 1;

    }

    @include respond(tab-port) {
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
    }

    table {
        text-align: left;
        background: $color-primary-part-transparent;
        border: 1px solid $color-primary;

        th {
            padding: 1rem;
            font-size: 1.5rem;

            @include respond(tab-port) {
                padding: 2rem;
                width: 100%;
            }

        }

        tr {
            border: 1px solid $color-primary;
        }

        td {
            padding: 1rem 2rem;

        }
    }
}